<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
</head>

<body class="container">
    <header>
        <% include ../partials/header.ejs %>
    </header> 
    <h1>
        Number to cube: <%= inpNumber %>
        Cubed number: <%= resultNumber %>
    </h1>
    <h2>
    Zach Trepkau
    </h2>
    <main>
        <div class="jumbotron">
            <pre>
            This is the cube page, where the number 3 should be cubed to 27.
            </pre>
        </div>
    </main>

    <footer>
        <% include ../partials/footer.ejs %>
    </footer>
</body>

</html>