<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
</head>

<body class="container">
    <header>
        <% include ../partials/header.ejs %>
    </header> 
    <h1> 
        Number to square: <%= inpNumber %>
        Squared number: <%= resultNumber %>
    </h1>
    <h2>
    Zach Trepkau
    </h2>
    <main>
        <div class="jumbotron">
            <pre>
            This is the square page, where the number 2 should be squared to 4
            </pre>
        </div>
    </main>

    <footer>
        <% include ../partials/footer.ejs %>
    </footer>
</body>

</html>