<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous">Home</span>
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/square">Square</a></li>
            <li><a href="/cube">Cube</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </div>
</nav>
